#!/bin/bash - 
# Packages
sudo pacman -Syu
sudo pacman --needed -S git git-lfs tar curl gvim python python-pip docker docker-compose jq base-devel networkmanager-openvpn bluez bluez-utils acpica archlinux-keyring unzip man rsync inetutils bind bc

# Shell
sudo pacman --needed -S zsh tmux thefuck htop ripgrep tree z fzf tig exa fd pyenv
sudo chsh -s /bin/zsh root
sudo chsh -s /bin/zsh pawelka

# Setup locale
echo "Setting up locale"
sudo localectl set-x11-keymap de pc105 neo

# Fonts and icons
sudo pacman --needed -S \
  ttf-roboto-mono `# System` \
  ttf-hack powerline-fonts `# Terminal` \
  papirus-icon-theme 


# Install yay
if [[ ! $(command -v yay) ]]; then
	git clone https://aur.archlinux.org/yay.git
	cd yay
	makepkg -si
	cd ..
	rm -rf yay
fi

yay --needed -S visual-studio-code-bin firefox guake 1password ferdium-bin

# Work specific
{{- if .is_work }}
yay --needed -S pnpm terraform terragrunt npm nodejs maven gradle jdk-openjdk jdk17-openjdk jdk21-openjdk

# Programs
yay --needed -S jetbrains-toolbox google-chrome 1password-cli claude-code

# GCloud
if ! command -v gcloud &> /dev/null; then
	curl -O https://dl.google.com/dl/cloudsdk/channels/rapid/downloads/google-cloud-cli-linux-x86_64.tar.gz
	tar -xf google-cloud-cli-linux-x86_64.tar.gz
	rm google-cloud-cli-linux-x86_64.tar.gz
	sudo mv google-cloud-sdk /opt/google-cloud-sdk
    sudo chown -R pawelka:pawelka /opt/google-cloud-sdk
	/opt/google-cloud-sdk/install.sh
	/opt/google-cloud-sdk/bin/gcloud init
fi
{{- end }}

