#!/bin/bash
# hash: {{ include "private_dot_config/backups/encrypted_guake.settings.age" | sha256sum }}
echo "Setting guake preferences"
guake --restore-preferences "${HOME}/.config/backups/guake.settings"
